$color-green: #89BD01;
$color-black: #5D5D5D;
$colorP1: #89BD01;// #1b7b34;
$colorP2: #0e8044;
$colorP3: #2B9464;//#66ab8c;
$colorP4: #1b7b34;
$colorP5: #1b7b34;

$colorS1: #31353d;//#a5a5af;
$colorS2: #e8e8e8;
$colorS3: #cdcdcd;
$colorS4: #6e7376;
$colorS5: #313131;