@mixin fontLato($size, $weight){
  font-family: 'Lato', sans-serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin borderRadius($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
}
.section__banner{
  $h_top: 180px;
  background: {
    position: center top;
    repeat: no-repeat;
    size: cover;
  };
  position: relative;
  width: 100%;
  height: $h_top;
  h1{
    margin: 0;
    font-size: 24px;
    font-weight: 900;
    display: block;
    color: #fff;
    position: relative;
    &:after{
      position: absolute;
      width: 140px;
      height: 3px;
      background-color: $colorP1;
      content: "";
      bottom: -15px;
      left: 50%;
      margin-left: -70px;
    }
  }
  .b_table{
    width: 100%;
    display: table;
    height: $h_top;
    position: relative;
    background-color: rgba(0,0,0,.4);
    .b_cell{
      display: table-cell;
      padding-bottom: 25px;//
      vertical-align: middle;
      text-align: center;
    }
  }
  @media (min-width: 768px){
    height: 360px;
    h1 {
      font-size: 36px;
    }
    .b_table{
      height: 360px;
    }
  }
  @media (min-width: 992px){
    height: 400px;
    h1 {
      font-size: 48px;
    }
    .b_table{
      height: 400px;
    }
  }
}