.section-products{
  .b_top{
    $h_top: 340px;
    background: {
      position: center top;
      repeat: no-repeat;
      size: cover;
    };
    position: relative;
    width: 100%;
    height: $h_top;
    h1{
      margin: 0;
      font-size: 48px;
      font-weight: 900;
      display: block;
      color: #fff;
      position: relative;
      &:after{
        position: absolute;
        width: 140px;
        height: 3px;
        background-color: $colorP1;
        content: "";
        bottom: -15px;
        left: 50%;
        margin-left: -70px;
      }
    }
    .b_table{
      width: 100%;
      display: table;
      height: $h_top;
      position: relative;
      background-color: rgba(0,0,0,.4);
      .b_cell{
        display: table-cell;
        padding-bottom: 25px;//
        vertical-align: middle;
        text-align: center;
      }
    }
    @media (min-width: 768px) {
      height: 440px;
      .b_table{
        height: 440px;
      }
    }
  }
  .b_center{
    width: 100%;
    min-height: 500px;
    padding: 70px 0 70px;
    .content_detail{
      font-size: 16px;
      h3{
        color: $colorP1;
        font-size: 26px;
        font-weight: 900;
        margin: 0 0 5px;
      }
      h5{
        margin: 0 0 15px;
        font-size: 18px;
        font-weight: 700;
        color: $colorS1;
      }
      .btn-back{
        display: inline-block;
        text-align: center;
        padding: 6px 14px 6px 28px;
        border-radius: 2px;
        background-color: $colorP1;
        color: #fff;
        transition: all .25s ease;
        position: relative;
        i{
          position: absolute;
          left: 6px;
          font-size: 22px;
          top: 5pxpx;
          color: #fff;  
          -webkit-animation: fa-back 1.5s infinite;
          animation: fa-back 1.5s infinite;
                  
        }
      }
    }
    .content_slider{
      position: relative;
      width: 470px;
      height: 470px;
      background-color: transparent;
      padding: 0;
      margin: 0 auto;
      .cr1{
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: transparent;
        left: -15px;
        top: -15px;
        border-top: 2px solid $colorP1;
        border-left: 2px solid $colorP1;
      }
      .cr2{
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: transparent;
        right: -15px;
        top: -15px;
        border-top: 2px solid $colorP1;
        border-right: 2px solid $colorP1;
      }
      .cr3{
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: transparent;
        left: -15px;
        bottom: -15px;
        border-bottom: 2px solid $colorP1;
        border-left: 2px solid $colorP1;
      }
      .cr4{
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: transparent;
        right: -15px;
        bottom: -15px;
        border-bottom: 2px solid $colorP1;
        border-right: 2px solid $colorP1;
      }
      .bxslider{
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        > li{
          padding: 0;
          width: 100% !important;
          height: 470px;
          img{
            width: 100%;
            /* height: 100%; */
            display: block;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      .control-slider{
        position: absolute;
        width: 30px;
        height: 50px;
        top: 50%;
        margin-top: -25px;
        color: #fff;
        &.ctrl-left{
          left: 0;
        }
        &.ctrl-right{
          right: 0;
        }
        a{
          text-align: center;
          display: block;
          height: 50px;
          width: 100%;
          position: relative;
          line-height: 55px;
          color: #fff;
          border: 0;
          background-color: $colorS1;
          i{
            font-size: 20px;
          }
          &:hover, &:focus{
            text-decoration: none;
            background-color: $colorP1;
          }
        }
      }
    }
    .b_l{
      width: 100%;
      float: left;
    }
    .panel-group{
      .panel{
        border-radius: 0;
        border: 0;
        background-color: transparent;
        & + .panel{
          margin-top: 2px;
        }
        .btn-panel{
          background-color: $colorS1;
          color: #fff;
          padding: 8px 10px;
          padding-right: 34px; 
          text-align: left;
          display: block;
          position: relative;
          width: 100%;
          border: 0;
          transition: all .3s;
          .ico-btn{
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -10px;
            width: 20px;
            text-align: center;
            height: 20px;
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 18px;
            &:before{
              content: "\f077";
            }
          }
          &:hover,&:focus{
            background-color: $colorS1;
            text-decoration: none;
          }
          &.in{
            text-decoration: none;
            background-color: $colorP1;
            .ico-btn{
              &:before{
                content: "\f078";
              }
            }
            &:hover,&:focus{
              // background-color: $colorP1;
              text-decoration: none;
            }
          }
        }
        .panel-body{
          padding: 0;
          background-color: transparent;//$colorS1;
          .nav-tabs{
            padding: 5px 0 5px 15px;
            background-color: transparent;//$colorS1;
            > li{
              float: none;
              border: 0;
              width: 100%;
              & + li{
                margin-top: 2px;
              }
              a{
                width: 100%;
                padding: 4px 5px 4px 10px;
                display: block;
                position: relative;
                color: $colorS1;
                border: 0;
                background-color: transparent;
                &:after{
                  content: "";
                  position: absolute;
                  width: 0;
                  left: 0;
                  top: 0;
                  height: 100%;
                  background-color: transparent;
                  transition: all .2s;
                }
                &:hover, &:focus{
                  text-decoration: none;
                  background-color: transparent;//$colorP1;
                  &:after{
                    width: 6px;
                    background-color: $colorP1;
                  }
                }
              }
              &.active{
                a{
                  &:after{
                    width: 6px;
                    background-color: $colorP1;
                  }
                }
              }
            }
          }
        }
      }
    }
    .b_r{
      float: left;
      width: 100%;
    }
    .nav_categories{
      width: 100%;
      display: block;
      > li{
        width: 100%;
        float: none;
        .head-collapse{
          display: block;
          width: 100%;
          margin: 0 auto;
          color: #fff;
          border: 0;
          background-color: $color-green;
          font-size: 14px;
          text-align: center;
          padding: 10px;
          &:hover, &:focus{
            outline: 0;
          }
        }
        .bg-collapse{
          background-color: #333;
          color: #fff;
          padding: 10px 5px;
        }
        & + li{
          margin-top: 5px;
        }
      }
    }
    .nav_subcategories{
      > li{
        display: block;
        width: 100%;
        .btn-products{
          background-color: transparent;
          color: #fff;
          padding: 2px 0;
          border: 0;
          &:hover, &:focus{
            background-color: transparent;
            border: 0;
            outline: 0;
          }
        }
      }
    }
    .content_list_products{
      width: 100%;
      position: relative;
      .nav_list_products{
        width: 100%;
        padding: 0;
        margin-top: 0;
        position: relative;
        > li{
          float: left;
          width: 100%;
          margin-bottom: 25px;
          .product--item{
            width: 100%;
            margin: 0 auto;
            color: #000;
            font-size: 14px;
            background-color: transparent;
            padding: 5px;
            &.item--placeholder{
              .product--body{
                .title{
                  width: 100%;
                  padding: 0 15px;
                }
              }
            }
            .product--inner{
              display: block;
              width: 100%;
              border: 1px solid #e6e6e6;
              &:hover,&:focus{
                text-decoration: none;
                .product--body{
                  .btn-style{
                    color: #fff;
                    background-color: $colorP1;
                  }
                }
              }
            }
            .product--head{
              width: 100%;
              height: 300px;
              padding: 0;
              display: block;
              overflow: hidden;
              position: relative;
              .vertical-center{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
              img{
                width: 100%;
                margin: 0 auto;
                // height: 100%;
                transition: all .3s ease-in;
              }
            }
            .product--body{
              margin: 0;
              color: $colorS1;
              padding: 0;
              background-color: transparent;
              display: table;
              width: 100%;
              position: relative;
              height: 75px;
              font-weight: 300;
              font-size: 14px;
              border-top: 1px solid #e6e6e6;
              .title{
                font-weight: 400;
                margin: 0; 
                display: table-cell;
                vertical-align: middle;
                padding: 0 90px 0 15px;
                font-size: 12px;
                color: #292929;
                text-align: left;
                line-height: normal;
              }
              .btn-style{
                display: inline-block;
                width: 75px;
                height: 73px;
                position: relative;
                border: 0;
                line-height: 73px;
                background-color: $colorP1;
                position: absolute;
                text-align: center;
                right: 0;
                top: 0;
                margin: 0;
                font-size: 24px;
                border-left: 1px solid #e6e6e6;
                background-color: white;
                transition: background-color 0.4s ease-out;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 540px){
  .section-products{
    .b_center{
      .content_list_products{
        .nav_list_products{
          > li{
            width: 50%;
          }
        }
      }
    }
  }
}
@media (min-width: 768px){
  .section-products{
    .b_center{
      .b_l{
        width: 30%;
      }
      .b_r{
        width: 70%;
      }
      .content_list_products{
        width: 100%;
        position: relative;
        .nav_list_products{
          width: 100%;
          padding-left: 5%;
          margin-top: -5px;
          position: relative;
          > li{
            width: 33.33333%;
          }
        }
      }
    }
  }
}
@-webkit-keyframes fa-view {
  0% {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
  }
  50% {
    -webkit-transform: translate3d(-8px,0,0);
    transform: translate3d(-8px,0,0);
  }
  100% {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
  }
}
@keyframes fa-view {
  0% {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
  }
  50% {
    -webkit-transform: translate3d(-8px,0,0);
    transform: translate3d(-8px,0,0);
  }
  100% {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
  }
}

@-webkit-keyframes fa-back{
  0% {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
  }
  50% {
    -webkit-transform: translate3d(8px,0,0);
    transform: translate3d(8px,0,0);
  }
  100% {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
  }
}
@keyframes fa-back{
  0% {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
  }
  50% {
    -webkit-transform: translate3d(8px,0,0);
    transform: translate3d(8px,0,0);
  }
  100% {
    -webkit-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
  }
}